UPPRB_Web/Web References/PateintInfoService/GetPatient_Info_insert.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetPatientInfoinsert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strXMLData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPatientInfoinsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPatientInfoinsertResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPatientInfoinsertSoapIn">
    <wsdl:part name="parameters" element="tns:GetPatientInfoinsert" />
  </wsdl:message>
  <wsdl:message name="GetPatientInfoinsertSoapOut">
    <wsdl:part name="parameters" element="tns:GetPatientInfoinsertResponse" />
  </wsdl:message>
  <wsdl:portType name="GetPatient_Info_insertSoap">
    <wsdl:operation name="GetPatientInfoinsert">
      <wsdl:input message="tns:GetPatientInfoinsertSoapIn" />
      <wsdl:output message="tns:GetPatientInfoinsertSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetPatient_Info_insertSoap" type="tns:GetPatient_Info_insertSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPatientInfoinsert">
      <soap:operation soapAction="http://tempuri.org/GetPatientInfoinsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetPatient_Info_insertSoap12" type="tns:GetPatient_Info_insertSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPatientInfoinsert">
      <soap12:operation soapAction="http://tempuri.org/GetPatientInfoinsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetPatient_Info_insert">
    <wsdl:port name="GetPatient_Info_insertSoap" binding="tns:GetPatient_Info_insertSoap">
      <soap:address location="http://103.78.201.146/PateintPortalWebservice/GetPatient_Info_insert.asmx" />
    </wsdl:port>
    <wsdl:port name="GetPatient_Info_insertSoap12" binding="tns:GetPatient_Info_insertSoap12">
      <soap12:address location="http://103.78.201.146/PateintPortalWebservice/GetPatient_Info_insert.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>