UPPRB_Web/Web References/OPDWebReference/GetPatOpdDetails.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetPatientOPDDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="crno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sptype" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPatientOPDDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPatientOPDDetailsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPatientOPDDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetPatientOPDDetails" />
  </wsdl:message>
  <wsdl:message name="GetPatientOPDDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetPatientOPDDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="GetPatOpdDetailsSoap">
    <wsdl:operation name="GetPatientOPDDetails">
      <wsdl:input message="tns:GetPatientOPDDetailsSoapIn" />
      <wsdl:output message="tns:GetPatientOPDDetailsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetPatOpdDetailsSoap" type="tns:GetPatOpdDetailsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPatientOPDDetails">
      <soap:operation soapAction="http://tempuri.org/GetPatientOPDDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetPatOpdDetailsSoap12" type="tns:GetPatOpdDetailsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPatientOPDDetails">
      <soap12:operation soapAction="http://tempuri.org/GetPatientOPDDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetPatOpdDetails">
    <wsdl:port name="GetPatOpdDetailsSoap" binding="tns:GetPatOpdDetailsSoap">
      <soap:address location="http://103.78.201.146/PateintPortalWebservice/GetPatOpdDetails.asmx" />
    </wsdl:port>
    <wsdl:port name="GetPatOpdDetailsSoap12" binding="tns:GetPatOpdDetailsSoap12">
      <soap12:address location="http://103.78.201.146/PateintPortalWebservice/GetPatOpdDetails.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>