UPPRB_Web/Web References/HISWebReference/GetPatientDetails.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getPatientDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strXMLData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPatientDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPatientDetailsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getPatientDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:getPatientDetails" />
  </wsdl:message>
  <wsdl:message name="getPatientDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:getPatientDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="GetPatientDetailsSoap">
    <wsdl:operation name="getPatientDetails">
      <wsdl:input message="tns:getPatientDetailsSoapIn" />
      <wsdl:output message="tns:getPatientDetailsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetPatientDetailsSoap" type="tns:GetPatientDetailsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getPatientDetails">
      <soap:operation soapAction="http://tempuri.org/getPatientDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetPatientDetailsSoap12" type="tns:GetPatientDetailsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getPatientDetails">
      <soap12:operation soapAction="http://tempuri.org/getPatientDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetPatientDetails">
    <wsdl:port name="GetPatientDetailsSoap" binding="tns:GetPatientDetailsSoap">
      <soap:address location="http://103.78.201.146/PateintPortalWebservice/GetPatientDetails.asmx" />
    </wsdl:port>
    <wsdl:port name="GetPatientDetailsSoap12" binding="tns:GetPatientDetailsSoap12">
      <soap12:address location="http://103.78.201.146/PateintPortalWebservice/GetPatientDetails.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>